:root {
    --colorMain: #0C4D7F;
    --colorOther1: #C59706;
    --colorOther2: #C53706;
}


.container {
    width: 85%;
    margin: 0 auto;
    color: whitesmoke;
}


div.hero-unit {
    background-color: var(--colorMain);
    color: white;
    font-family: 'Monoton', cursive;
    text-align: center;
}


.hero-unit h1 {
    color: #fff;
    text-shadow:
            /*0 0 5px #fff,*/
            /*0 0 10px #fff,*/
            /*0 0 20px #fff,*/
            0 0 40px #0ff,
            0 0 80px #0ff,
            0 0 90px #0ff,
            0 0 100px #0ff,
            0 0 150px #0ff;
}


.flicker-slow{
    animation: flicker 3s linear infinite;
}

.flicker-fast{
    animation: flicker 1s linear infinite;
}


@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    //text-shadow: none;
        opacity: .99;

    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
        opacity: 0.4;
    }
}


#page-container {
    background-color: #262626;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 5rem;    /* Footer height */
}


p{
    word-wrap: break-word;
}


#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;            /* Footer height */
    margin-bottom: 0;
    padding: 0;

}


#footer.hero-unit {
    background-color: var(--colorMain);
    color: white;
    position: absolute;
}


#footer p {
    padding-top: 30px;
    padding-left: 40px;
}



iframe {
    width: 745px;
    height: 335px;
    background-image: url("../img/curtains2.jpg");
    background-size: 945px 527px;
    background-repeat: no-repeat;
    padding: 74px 100px 120px 100px;
    /*padding: 85px 96px 148px 105px;*/
    margin: 0 auto;
    grid-area: trailer;

    border: 35px solid var(--colorOther2);
    border-radius: 10px;
}

.trailerBox {
    display: grid;
    grid-template-columns: .01fr .5fr .01fr;
    grid-template-rows: .01fr .5fr .01fr;
    grid-template-areas:
        "leftColumn topRow rightColumn"
        "leftColumn trailer rightColumn"
        "leftColumn bottomRow rightColumn";
    justify-content: center;
}


.nav-tabs {
    display: flex;
    justify-content: space-evenly;
}

.nav-tabs > li > a {
    color: white;
}


.nav > li > a:hover {
    background-color: var(--colorMain);
}


.nav .dropdown-toggle .caret {
    border-top-color: white;
    border-bottom-color: white;
}


.nav .dropdown-toggle:hover .caret, .nav .dropdown-toggle:focus .caret {
    border-top-color: white;
    border-bottom-color: white;
}

.topRow {
    grid-area: topRow;
    display: grid;
    grid-template-areas:
    "topLight1 topLight2 topLight3 topLight4 topLight5";
    position: relative;
    top: 25px;
}

.leftColumn {
    grid-area: leftColumn;
    display: grid;
    grid-template-areas:
    "lightLeft1"
    "lightLeft2"
    "lightLeft3"
    "lightLeft4"
    "lightLeft5"
    "lightLeft6";
    position: relative;
    left: 25px;
    top: 25px;
}

.rightColumn {
    grid-area: rightColumn;
    display: grid;
    grid-template-areas:
    "lightRight1"
    "lightRight2"
    "lightRight3"
    "lightRight4"
    "lightRight5"
    "lightRight6";
    position: relative;
    top: 25px;
    right: 25px;
}

.bottomRow {
    grid-area: bottomRow;    display: grid;
    grid-template-areas:
    "bottomLight1 bottomLight2 bottomLight3 bottomLight4 bottomLight5";
    position: relative;
    bottom: 25px;
}


.lightLeft {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle, rgba(255,254,108,1) 36%, rgba(209,165,52,1) 100%);
    border-radius: 50%;
    filter: blur(2px);
    justify-self: flex-end;
}

#leftLight1 {
    grid-area: lightLeft1;
    animation: fadeIn 1000ms ease infinite;
}

#leftLight2 {
    grid-area: lightLeft2;
    animation: fadeIn2 1000ms ease infinite;
}

#leftLight3 {
    grid-area: lightLeft3;
    animation: fadeIn 1000ms ease infinite;
}

#leftLight4 {
    grid-area: lightLeft4;
    animation: fadeIn2 1000ms ease infinite;
}

#leftLight5 {
    grid-area: lightLeft5;
    animation: fadeIn 1000ms ease infinite;
}

#leftLight6 {
    grid-area: lightLeft6;
    animation: fadeIn2 1000ms ease infinite;
}



.lightRight {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle, rgba(255,254,108,1) 36%, rgba(209,165,52,1) 100%);
    border-radius: 50%;
    filter: blur(2px);
    justify-self: flex-start;
}

#rightLight1 {
    grid-area: lightRight1;
    animation: fadeIn 1000ms ease infinite;
}

#rightLight2 {
    grid-area: lightRight2;
    animation: fadeIn2 1000ms ease infinite;
}

#rightLight3 {
    grid-area: lightRight3;
    animation: fadeIn 1000ms ease infinite;
}

#rightLight4 {
    grid-area: lightRight4;
    animation: fadeIn2 1000ms ease infinite;
}

#rightLight5 {
    grid-area: lightRight5;
    animation: fadeIn 1000ms ease infinite;
}

#rightLight6 {
    grid-area: lightRight6;
    animation: fadeIn2 1000ms ease infinite;
}

.topLight {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle, rgba(255,254,108,1) 36%, rgba(209,165,52,1) 100%);
    border-radius: 50%;
    filter: blur(2px);
    align-self: flex-end;
    justify-self: center;
}


.bottomLight {
    height: 15px;
    width: 15px;
    background: radial-gradient(circle, rgba(255,254,108,1) 36%, rgba(209,165,52,1) 100%);
    border-radius: 50%;
    filter: blur(2px);
    justify-self: center;
    align-self: flex-start;
}

#topLight1 {
    grid-area: topLight1;
    animation: fadeIn2 1000ms ease infinite;
}

#topLight2 {
    grid-area: topLight2;
    animation: fadeIn 1000ms ease infinite;
}

#topLight3 {
    grid-area: topLight3;
    animation: fadeIn2 1000ms ease infinite;
}

#topLight4 {
    grid-area: topLight4;
    animation: fadeIn 1000ms ease infinite;
}

#topLight5 {
    grid-area: topLight5;
    animation: fadeIn2 1000ms ease infinite;
}



#bottomLight1 {
    grid-area: bottomLight1;
    animation: fadeIn 1000ms ease infinite;
}

#bottomLight2 {
    grid-area: bottomLight2;
    animation: fadeIn2 1000ms ease infinite;
}

#bottomLight3 {
    grid-area: bottomLight3;
    animation: fadeIn 1000ms ease infinite;
}

#bottomLight4 {
    grid-area: bottomLight4;
    animation: fadeIn2 1000ms ease infinite;
}

#bottomLight5 {
    grid-area: bottomLight5;
    animation: fadeIn 1000ms ease infinite;
}



@keyframes fadeIn {
    0% { opacity:0; }
    50% { opacity:1; }
    100% { opacity:0; }
}

@keyframes fadeIn2 {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@keyframes fadeIn3 {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@keyframes fadeIn4 {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


@keyframes fadeIn5 {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#newMovie {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "leftNewMovie rightNewMovie";
}

#leftNewMovie {
    grid-area: leftNewMovie;
}

#rightNewMovie {
    grid-area: rightNewMovie;
}

#smallVideo {
    width: 567px;
    height: 296px;
    background-size: 718px 463px;
    padding: 65px 78px 102px 74px;
}


@media only screen and (max-width: 1100px){
    iframe {
        width: 500px;
        height: 250px;
        background-size: 636px 393px;
        padding: 55px 68px 87px 68px;
    }
}

@media only screen and (max-width: 750px){
    iframe {
        width: 295px;
        height: 158px;
        background-size: 376px 249px;
        padding: 35px 40px 54px 40px;
    }
}